/* -------------------------------------
SHARED
------------------------------------- */

    $primary-color: #333;

    @mixin keyframes($animationName) {
        @-webkit-keyframes #{$animationName} {
            @content;
        }
        @-moz-keyframes #{$animationName} {
            @content;
        }
        @-o-keyframes #{$animationName} {
            @content;
        }
        @keyframes #{$animationName} {
            @content;
        }
    }

    @include keyframes(fadeIn) {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @mixin animate($name, $duration, $timing) {
        -webkit-animation: $name $duration;
        -moz-animation: $name $duration;
        -ms-animation: $name $duration;
        -o-animation: $name $duration;
        animation: $name $duration;
    }

    @mixin fadeIn {
        @include animate(fadeIn, 1s, ease);
    }

    html {
        height: 100%;
    }

    body {
        position: relative;
        margin: 0;
        padding-bottom: 6rem;
        min-height: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 300;
    }

    ::selection {
        background: #4ea5ca;
        color: #fff;
    }
    ::-moz-selection {
        background: #4ea5ca;
        color: #fff;
    }

    .content {
        @include fadeIn;
    }

    .border-light {
        border: 1px solid #bbb;    
    }

    .mb-2 {
        margin-bottom: 2rem;
    }

    .navbar {
        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline;
                font-size: 1.2em;
            }
        }
    }

    .text-center {
        text-align: center
    }


/* -------------------------------------
NAVIGATION
------------------------------------- */
    #navigation {
        margin: 2em 0;
        .avatar {
            max-width: 100px;
            border-radius: 50%;
            -webkit-filter: grayscale(40%);
            filter: grayscale(40%);
        }
        .navbar {
            margin: 2em 0 4em;

            ul {
                li {
                    margin-left: 1em;
                }
                li:first-child {
                    margin-left: 0;
                }
            }
        }
    }


/* -------------------------------------
HOME
------------------------------------- */

    #home {
        .img-development {
            max-width:100%;
        }
        .portfolio-links {
            img {
                max-width: 25px;
                margin-right: 10px;
            } 
            a {
                margin: 10px 0;
                width: 100%;
                display: inline-block;
                &:hover {
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }


/* -------------------------------------
CONTACT
------------------------------------- */

    #contact {
        .btn {
            background-color: $primary-color;
            color:#fff;
        }
        .contact-body {
            input {
                padding:10px 0
            }
            input, textarea {
                border-radius: 3px;
                border:1px solid #bbb;
                margin-bottom:10px;
                text-indent:10px;
                width:100%;
            }
            textarea {
                max-width:100%;
                padding-bottom: 12px;
                resize: none;
            }
        }
        margin:0 auto;
        display:block;
    }


/* -------------------------------------
BLOG
------------------------------------- */

    #blog {

    }


