/* -------------------------------------
SHARED
------------------------------------- */
$primary-color: #4D4766;


@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}
@include keyframes(fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin animate($name, $duration, $timing) {
    -webkit-animation: $name $duration;
    -moz-animation: $name $duration;
    -ms-animation: $name $duration;
    -o-animation: $name $duration;
    animation: $name $duration;
}


@mixin fadeIn {
    @include animate(fadeIn, 1s, ease);
}


/* -------------------------------------
HOME
------------------------------------- */
    #home {
        @include fadeIn;
        .greeting {

            text-align:center;

        }
        .navbar {
            ul {
                list-style: none;
                padding: 0;
                li {
                    display: inline;
                    font-size: 1.2em;
                }
            }
            text-align:center;

        }

    }

/* -------------------------------------
CONTACT
------------------------------------- */

#contact {
    @include fadeIn;
    .btn {
        background-color: $primary-color
    }
    .contact-body {
            input, textarea, .alert {
                border-radius: 3px;
                border:1px solid #bbb;
                padding:10px 0;
                margin-bottom:10px;
                text-indent:10px;
                width:100%;
            }
            textarea {
                max-width:100%;
            }
            .alert-danger {
                color: #a94442;
                background-color: #f2dede;
                border-color: #ebccd1;
            }
    }
}

