/* -------------------------------------
HOME
------------------------------------- */

.home {
    &__box {
        padding: 1rem 2rem;
    }
    &__links {
        a {
            display: flex;
            align-items: center;
        }
        img { max-width: 30px; }
    }
} 