/* -------------------------------------
SHARED
------------------------------------- */

$primary-color: #333;

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@include keyframes(fadeIn) {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@mixin animate($name, $duration, $timing) {
    -webkit-animation: $name $duration;
    -moz-animation: $name $duration;
    -ms-animation: $name $duration;
    -o-animation: $name $duration;
    animation: $name $duration;
}

@mixin fadeIn {
    @include animate(fadeIn, 1s, ease);
}

html {
    height: 100%;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.6em;
}

::selection {
    background: #4ea5ca;
    color: #fff;
}
::-moz-selection {
    background: #4ea5ca;
    color: #fff;
}

.content {
    @include fadeIn;
}

.border-light {
    border: 1px solid #bbb;    
}

.mb-2 {
    margin-bottom: 2rem;
}

.navbar {
    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline;
            font-size: 1.2em;
        }
    }
}

.text-center {
    text-align: center
}

.underline {
    text-decoration: underline;
}

