/* -------------------------------------
DEPENDENCIES
------------------------------------- */
/* -------------------------------------
THEME
------------------------------------- */
/* -------------------------------------
SHARED
------------------------------------- */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

html {
  height: 100%; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%; }

::selection {
  background: #4ea5ca;
  color: #fff; }

::-moz-selection {
  background: #4ea5ca;
  color: #fff; }

.content {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  animation: fadeIn 1s; }

.border-light {
  border: 1px solid #bbb; }

.mb-2 {
  margin-bottom: 2rem; }

.navbar ul {
  list-style: none;
  padding: 0; }
  .navbar ul li {
    display: inline;
    font-size: 1.2em; }

.text-center {
  text-align: center; }

/* -------------------------------------
HOME
------------------------------------- */
#home .img-development {
  max-width: 100%; }

/* -------------------------------------
CONTACT
------------------------------------- */
#contact {
  margin: 0 auto;
  display: block; }
  #contact .btn {
    background-color: #333;
    color: #fff; }
  #contact .contact-body input {
    padding: 10px 0; }
  #contact .contact-body input, #contact .contact-body textarea {
    border-radius: 3px;
    border: 1px solid #bbb;
    margin-bottom: 10px;
    text-indent: 10px;
    width: 100%; }
  #contact .contact-body textarea {
    max-width: 100%;
    padding-bottom: 12px;
    resize: none; }

/* -------------------------------------
BLOG
------------------------------------- */
/* -------------------------------------
FOOTER
------------------------------------- */
#footer {
  position: absolute;
  bottom: 0;
  text-align: center; }

@media (max-width: 768px) {
  #footer {
    width: 100%; } }
